.flows.json.backup
[
    {
        "id": "ddb5880a.8135d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1a0e8ff0.0dd61",
        "type": "tab",
        "label": "Base de datos Relacional",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5044b531.e28b9c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6819eef3.acce4",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "grupounoiot",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "7493e9ee.4b09e8",
        "type": "comment",
        "z": "ddb5880a.8135d8",
        "name": "Node-Red y Git",
        "info": "",
        "x": 360,
        "y": 100,
        "wires": []
    },
    {
        "id": "51d17c76.71d354",
        "type": "inject",
        "z": "ddb5880a.8135d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "2eb9adea.6b2b12"
            ]
        ]
    },
    {
        "id": "2eb9adea.6b2b12",
        "type": "debug",
        "z": "ddb5880a.8135d8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "48cabf40.f716f",
        "type": "mysql",
        "z": "1a0e8ff0.0dd61",
        "mydb": "6819eef3.acce4",
        "name": "registrosensor",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "380b56d4.a9692a"
            ]
        ]
    },
    {
        "id": "380b56d4.a9692a",
        "type": "debug",
        "z": "1a0e8ff0.0dd61",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "c35225b1.178968",
        "type": "inject",
        "z": "1a0e8ff0.0dd61",
        "name": "Crear Tabla sql",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE `registrosensor` (`id` INT NOT NULL AUTO_INCREMENT, `temperatura` FLOAT NOT NULL, `humedad` FLOAT NOT NULL, `fecha` TIMESTAMP NOT NULL, PRIMARY KEY (`id`)) ENGINE = InnoDB",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "48cabf40.f716f"
            ]
        ]
    },
    {
        "id": "f201af2c.7f981",
        "type": "inject",
        "z": "1a0e8ff0.0dd61",
        "name": "Mostrar Tablas sql",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "describe registrosensor",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "48cabf40.f716f"
            ]
        ]
    },
    {
        "id": "a2f1ed1e.a6d26",
        "type": "inject",
        "z": "5044b531.e28b9c",
        "name": "simularJson",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperatura\":15,\"humedad\":50}",
        "payloadType": "json",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "2677c1aa.5f4a1e"
            ]
        ]
    },
    {
        "id": "2677c1aa.5f4a1e",
        "type": "function",
        "z": "5044b531.e28b9c",
        "name": "insertSql",
        "func": "temperatura = msg.payload.temperatura; \nhumedad = msg.payload.humedad; msg.topic = \"insert into registrosensor (id, temperatura , humedad, fecha) values (default,\" + temperatura + \",\" + humedad + \",\" + \"CURRENT_TIMESTAMP\"+ \")\"; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "ab617e67.398d7"
            ]
        ]
    },
    {
        "id": "ab617e67.398d7",
        "type": "mysql",
        "z": "5044b531.e28b9c",
        "mydb": "6819eef3.acce4",
        "name": "registrosensor",
        "x": 480,
        "y": 260,
        "wires": [
            [
                "dd3025b7.83f4f8"
            ]
        ]
    },
    {
        "id": "dd3025b7.83f4f8",
        "type": "debug",
        "z": "5044b531.e28b9c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 260,
        "wires": []
    },
    {
        "id": "ab1e0e82.703f6",
        "type": "inject",
        "z": "5044b531.e28b9c",
        "name": "Consulta tabla",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Select * From registrosensor",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "ab617e67.398d7"
            ]
        ]
    },
    {
        "id": "dec4a936.d61768",
        "type": "inject",
        "z": "5044b531.e28b9c",
        "name": "Actualizar Registro",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "update registrosensor set temperatura = 26 where id = 1;",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "ab617e67.398d7"
            ]
        ]
    },
    {
        "id": "f80c89d0.611be8",
        "type": "inject",
        "z": "5044b531.e28b9c",
        "name": "Eliminar registros",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "delete from registrosensor when id > 3",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "ab617e67.398d7"
            ]
        ]
    }
]