flows.json
[
    {
        "id": "ddb5880a.8135d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7493e9ee.4b09e8",
        "type": "comment",
        "z": "ddb5880a.8135d8",
        "name": "Node-Red y Git",
        "info": "",
        "x": 360,
        "y": 100,
        "wires": []
    },
    {
        "id": "51d17c76.71d354",
        "type": "inject",
        "z": "ddb5880a.8135d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "2eb9adea.6b2b12"
            ]
        ]
    },
    {
        "id": "2eb9adea.6b2b12",
        "type": "debug",
        "z": "ddb5880a.8135d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 280,
        "wires": []
    }
]